<%- include ('header') %> 

<body>
<h1>CHECK AVAILABILITY</h1>
  <form action="/availability" method="post">
    <label for="from"></label><br>
    <input type="date" name="from" id="">
    <label for="to"></label><br>
    <input type="date" name="to" id="">
    <select name="roomtype" id="">
      <option value="NORMAL"> NORMAL </option>
      <option value="PREMIUM"> PREMIUM </option>
      <option value="SUITE"> SUITE </option>
    </select>
    <button type="submit">Check</button>
  </form>

<%= availability %> 
</body>

</html>

