<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hotel Management System</title>
  <link rel="stylesheet" href="CSS/style.css">
</head>

<body>
  <nav id="main-navbar">
    <ul>
      <li><a href="/admin">Admin</a></li>
      <li><a href="/availability">Availability</a></li>
      <li><a href="/invoice">Invoice</a></li>
      <li><a href="/customer">Customer</a></li>
      <li><a href="/feedback">Feedback</a></li>
    </ul>
  </nav>