<%- include ('header') %>

<body>
  <%= list %>

  <div>
    <h1>Reservation</h1>
    <form action="" method="post">
      <h2>Name: </h2>
      <label for="fname"> First Name: </label>
      <input type="text" name="fname">
      <br>
      <label for="mname"> Middle Name: </label>
      <input type="text" name="mname">
      <br>
      <label for="lname"> Last Name: </label>
      <input type="text" name="lname">
      <br>
      <hr>
      <h2>ID Proof:</h2>
      <label for="idtype"> ID Proof: </label>
      <input type="text" name="idtype">
      <br>
      <label for="idno"> ID Number: </label>
      <input type="text" name="idno">
      <br>
      <hr>
      
      
      <h2>Details: </h2>
      <label for="dob"> Date of Birth </label>
      <input type="date" name="dob">
      <br>
      <label for="gender"> Gender </label>
      <select name="gender" id="">
        <option value="m">M</option>
        <option value="f">F</option>
        <option value="T">T</option>
      </select>
      <br>
      <label for="contact">Contact No.</label>
      <input type="number" name="contact">
      <br>
      <label for="email">Email</label>
      <input type="email" name="email">
      
      
      <h4>Address:</h4>
      <label for="house">House No.</label>
      <input type="text" name="house" id=""> <br>
      <label for="city">City</label>
      <input type="text" name="city" id=""> <br>
      <label for="state">State</label>
      <input type="text" name="state" id=""> <br>
      <label for="country">Country</label>
      <input type="text" name="country" id=""> <br>
      
      
      <h2>Booking:</h2>
      <label for="checkin"> Check In: </label>
      <input type="date" name="checkin">
      <br>
      <label for="checkout"> Check Out: </label>
      <input type="date" name="checkout">
      <br>
      <label for="roomtype"> Room Type </label>
      <select name="roomtype" id="">
        <option value="NORMAL">Normal </option>
        <option value="PREMIUM">Premium</option>
        <option value="SUITE">Suite</option>
      </select>
      <br>
      <input type="submit" value="Submit">
    </form>

  </div>

</body>

</html>